	<p>
		<%= f.label :songname  %>
		<%= f.text_field :name  %>
	</p>
	<p>
		<%= f.label :singer %>
		<%= f.text_field :singer %>
	</p>
	<p>
		<%= f.label :lyrics %>
		<%= f.text_field :lyrics %>
	</p>
	