	<div class=“form-group”>
		<%= f.label :songname, class: "sr-only" %>
		<%= f.text_field :name, class: "form-control", placeholder: "Song name" %>
	</div>
	<div class="form-group">
		<%= f.label :singer, class: "sr-only"%>
		<%= f.text_field :singer, class: "form-control", placeholder: "Singer"%>
	</div>
	<div class="form-group">
		<%= f.label :lyrics, class: "sr-only" %>
		<%= f.text_field :lyrics, class: "form-control", placeholder: "Lyrics" %>
	</div>
	