<h1>Songs List</h1>

<table>
	<tr>
		<th>Songs</th>
		<th>Singer</th>
		<th>Lyrics</th>
	</tr>

	<% @songs.each do |song| %>
	<tr>
		<th><%= song.name %></th>
		<th><%= song.singer %></th>
		<th><%= song.lyrics %></th>
		<th><%= link_to 'SHOW', song_path(song) %></th>
		<th><%= link_to 'Edit', edit_song_path(song) %></th>
		<th><%= link_to 'Delete', song_path(song), method: :delete %></th>
	</tr>
	<% end  %>


</table>
<%= link_to "New Song", new_song_path %>