<div class="container">
<h1>Songs List</h1>
<div><%= time_tag(Time.now) %></div>

<table class="table table-hover">
	<tr>
		<th>Songs</th>
		<th>Singer</th>
		<th>Lyrics</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>

	<% @songs.each do |song| %>
	<tr>
		<th><%= song.name %></th>
		<th><%= song.singer %></th>
		<th><%= song.lyrics %></th>
		<th><%= link_to '', song_path(song), class: "btn btn-info glyphicon glyphicon-zoom-in" %></th>
		<th><%= link_to '', edit_song_path(song), class: "btn btn-default glyphicon glyphicon-paperclip" %></th>
		<th><%= link_to '', song_path(song), method: :delete, class: "btn btn-danger glyphicon glyphicon-remove
" %></th>
	</tr>
	<% end  %>


</table>




<%= form_for :song, url: songs_path, html: {class: "form-inline"} do |f| %>
  <h3>New song</h3>
	<%= render :partial => 'form', :locals => { :f => f} %>
  <%= f.submit class: "btn btn-info" %>

<% end %>

<%= paginate @songs %>

</div>